/* Home Component Styles */
:host-context(body.dark-mode) {
  background-color: #333;
  color: #fff;
}

:host-context(body.dark-mode) .navbar {
  background-color: #333 !important;
  color: #fff;
}

:host-context(body.dark-mode) .navbar-nav .nav-link {
  color: #fff !important;
}

:host-context(body.dark-mode) .btn-outline-secondary {
  border-color: #fff;
  color: #fff;
}

:host-context(body.dark-mode) .alert-info {
  background-color: #555;
  color: #fff;
  border: 1px solid #444;
}

:host-context(body.dark-mode) .movie-detail-container {
  background-color: #333;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar-nav .nav-link {
  color: inherit;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

.navbar-nav .btn-outline-secondary {
  margin-left: 15px;
}

.navbar-nav .fa {
  font-size: 1.5rem;
}
/* generos.component.css 
.dark-mode .navbar {
  background-color: #333;
  color: #fff;
}

.dark-mode .navbar-nav .nav-link {
  color: #fff;
}

.dark-mode .btn-outline-secondary {
  border-color: #fff;
  color: #fff;
}
*/
.movie-detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.movie-poster {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.movie-info {
  max-width: 600px;
}

.movie-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.movie-description {
  margin-bottom: 10px;
}

.movie-genre, .movie-year, .movie-status {
  margin-bottom: 5px;
}

.alert {
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}

.alert-info {
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
}

.mt-4 {
  margin-top: 1.5rem;
}

/* Carousel adjustments */
.carousel-item img {
  width: 100%;
  height: 400px; /* Set a fixed height for carousel images */
  object-fit: cover;
}

.carousel {
  max-width: 800px;
  margin: 0 auto; /* Center the carousel */
}

/* Grid adjustments for movie cards */
.card img {
  width: 100%;
  height: 300px; /* Set a fixed height for movie card images */
  object-fit: cover;
}
